$primary-color: #03adec;
$secondary-color: #033192;
$active-color: #fc6213;

$logo-family: "Salsa", cursive;
$primary-family: "Andika", sans-serif;
$text-family: "Podkova", serif;

$bg-color_1: #2d2e2e;
$bg-color_2: #2b2c2c;
$bg-color_3: #292a2a;
$text-color_1: #a4a5a6;
$text-color_2: #979899;
$active-color: #e0a80d;
